.queueWrapper {
	background-color: var(--white);
	position: fixed;
	height: calc(100vh - 4rem);
	width:var(--queue-width);
	top:0;
	right:0;
	z-index:-1;
	display: block;
	border-left: 2px solid var(--darkgray-500);
}
.closeIcon {
	right:1rem;
	position:fixed;


}