.searchResultContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width:calc(100vw - var(--queue-width));
	height:auto;
	overflow: scroll;
}
.search {
	max-width:80vw;
}