:root {
	--white: #fff;
	--black: #000;

	--dark-background: var(--darkgray-900);
	--light-background: var(--lightgray-300);

	--font-sans: 'Poppins', sans-serif;
	--font-serif: 'Playfair Display', serif;

	--font-size-sm: 0.9331rem;
	--font-size-base: 1.1669rem;
	--font-size-lg: 1.4581rem;
	--font-size-title: 5.5631rem;
	--font-size-h1: 4.4506rem;
	--font-size-h2: 3.46rem;
	--font-size-h3: 2.8481rem;
	--font-size-h4: 1.8231rem;
	--font-size-h5: 1.4581rem;
	--font-size-h6: 1.1669rem;
	--font-size-input: 0.9331rem;
	--font-size-label: 0.9331rem;

	--turquoise-100: #e7fdfd;
	--turquoise-200: #c7f5f5;
	--turquoise-300: #a7ebeb;
	--turquoise-400: #0ae5f5;
	--turquoise-500: #09cdda;
	--turquoise-600: #08b7c4;
	--turquoise-700: #1298a1;
	--turquoise-800: #0e7f7f;
	--turquoise-900: #0c6b6b;

	--lightgray-100: #f8f8f8;
	--lightgray-200: #f2f2f2;
	--lightgray-300: #ebebeb;
	--lightgray-400: #d8d8d8;
	--lightgray-500: #c8c8c8;
	--lightgray-600: #b8b8b8;
	--lightgray-700: #a8a8a8;
	--lightgray-800: #979797;
	--lightgray-900: #878787;

	--darkgray-100: #7a7a7a;
	--darkgray-200: #6e6e6e;
	--darkgray-300: #616161;
	--darkgray-400: #545454;
	--darkgray-500: #474747;
	--darkgray-600: #3b3b3b;
	--darkgray-700: #2e2e2e;
	--darkgray-800: #212121;
	--darkgray-900: #141414;

	--green-100: #e7feef;
	--green-300: #a7ebbe;
	--green-500: #09da50;
	--green-900: #0c6b2c;

	--object-background: var(--lightgray-100);
	--object-border: 2px solid var(--darkgray-700);
	--highlight-1: var(--turquoise-400);
	--footer-background: var(--lightgray-100);
	--text-color: var(--black);

	--queue-width: 20rem;
}

main {
	display: flex;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: var(--font-size-base);
	font-family: var(--font-sans);
}
body {
	background-color: var(--light-background);
	color: var(--darkgray-800);
	overflow: hidden;
}

h1 {
	font-size: var(--font-size-h1);
	font-family: var(--font-serif);
	font-weight: 400;
	line-height: 1.2;
	display: block;
	text-align: center;
}

h2 {
	font-size: var(--font-size-h2);
	font-family: var(--font-serif);
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 1.5rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--object-background: var(--darkgray-700);
		--object-border: 2px solid var(--lightgray-700);
		--highlight-1: var(--turquoise-800);
		--footer-background: var(--darkgray-800);
		--text-color: var(--white);
	}

	body {
		background-color: var(--dark-background);
		color: var(--text-color);
	}
}

.icon {
	height: 3rem;
	width: 3rem;
	color: var(--turquoise-500);
	cursor: pointer;
}
.icon :hover {
	color: var(--turquoise-700);
}
